<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processing Completed</title>
</head>

<body>
  <div class="container">
    <h1>Processing Completed Successfully!</h1>
    <button onclick="window.location.href='/'">Go Back to Home</button>
  </div>
</body>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    text-align: center;
    background: rgb(0, 0, 0)c2c;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    background-color: #53ff50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #37ff29d0;
  }
</style>

</html>